//顏色樣式
$primary: #3F72AF;
$secondary: #DBE2EF;
$auxiliary: #112D4E;
$pink: #FF9292;

//黑色遮色片
@mixin bg-dark {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.bg-blend-mode {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

//連結無底線
a {
    text-decoration: none;
}

//圖片置中
.bg-cover {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}

//隱藏X軸/Y軸
.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden
}


//圓角設定
.rounded-lg {
    border-radius: 16px;
}

.rounded-md {
    border-radius: 4.8px;
}

.rounded-sm {
    border-radius: 4px;
}

//半透明黑色背景
.bg--translucent {
    background-color: rgba(0, 0, 0, 0.5);
}

//display設定none
.display-none {
    display: none;
}

//設定頁面margin-top
.margin--top {
    margin-top: 60px;
}

//取消bootstrap預設行為
html,
body {
    scroll-behavior: auto !important;
}