//導覽列連結底線-透明
.nav--items {
    border-bottom: 1px solid transparent;
}

//右側icon列表位置
.nav--icon {
    display: none;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

//手機版icon列表位置
@media (max-width: 500px) {
    .nav--icon {
        top: 95%;
        right: 0;
    }
}

//右側icon方框
.nav--icon__btn {
    width: 40px;
    height: 40px;
    border: 2px solid $secondary;
}