/*-------------------首頁樣式設定-------------------*/

.banner {

    //banner-文字白色底線
    &__border {
        width: 100px;
        border-bottom: 2px solid #FFF;
    }
}

//設計師照片設定
.person {

    &__img {

        &--circle {
            min-width: 90px;
            min-height: 90px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

//視差滾動設定
.parallax-window {
    min-height: 650px;
    background: transparent;
}

//廣告列表-隱藏
.required__alert {
    display: none;
}