<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- swiper-CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <!-- lightbox-CSS -->
  <link href="./assets/style/vendors/lightbox.css" rel="stylesheet" />
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- 導覽列 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-auxiliary-dark py-4">
    <div class="container">
      <a class="navbar-brand me-9 pe-8 d-lg-none logo__font text-white fs-2" href="index.html">Interior.DS</a>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger-color"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <a class="navbar-brand logo__font text-white fs-2 d-none d-lg-block" href="index.html">Interior.DS</a>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav--items nav--items__hover"
              aria-current="page" href="company-profile.html">公司介紹</a>
          </li>
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav--items nav--items__hover"
              href="company-services.html">服務項目</a>
          </li>
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav--items nav--items__hover"
              href="designer-list.html">設計作品</a>
          </li>
          <!-- <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav--items nav--items__hover"
              href="#">合作公司介紹</a>
          </li> -->
          <li class="nav-item dropdown mb-3 mb-lg-0">
            <a class="nav-link dropdown-toggle nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav--items nav--items__hover"
              href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              合作公司介紹
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="cooperative-business.html">關於合作商家</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="cooperative-hydropower.html">工程施作</a></li>
              <li><a class="dropdown-item" href="#">格局及室內裝修</a></li>
              <li><a class="dropdown-item" href="#">家具訂製</a></li>
            </ul>
          </li>
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary px-0 d-inline d-lg-block nav--items nav--items__hover"
              href="blog.html">部落格</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="reserve-information.html" class="btn btn-outline-secondary rounded-lg me-3 reserve-btn py-2 px-3"
            type="submit">立即預約</a>
          <a href="contact.html" class="btn btn-outline-secondary rounded-lg course-btn py-2 px-3"
            type="submit">聯絡我們</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- 右側 icon 列表 -->
  <div class="position-fixed nav--icon" style="z-index: 1100;">
    <ul class="list-unstyled d-flex flex-column justify-content-center align-items-center me-3">
      <li class="mb-2 d-none d-md-block">
        <a href="#"
          class="text-primary bg-white fs-4 d-flex justify-content-center align-items-center rounded-sm nav--icon__btn hover--shadow__black"><i
            class="fab fa-facebook"></i></a>
      </li>
      <li class="mb-2 d-none d-md-block">
        <a href="#"
          class="text-primary bg-white fs-4 d-flex justify-content-center align-items-center rounded-sm nav--icon__btn hover--shadow__black"><i
            class="fab fa-instagram"></i></a>
      </li>
      <li class="mb-2 d-none d-md-block">
        <a href="#"
          class="text-primary bg-white fs-4 d-flex justify-content-center align-items-center rounded-sm nav--icon__btn hover--shadow__black"><i
            class="fab fa-line"></i></a>
      </li>
      <li class="mb-2">
        <a href="#"
          class="text-white bg-primary fs-4 d-flex justify-content-center align-items-center rounded-sm nav--icon__btn hover--shadow__black scroll--top-btn"><i
            class="fas fa-arrow-up"></i>

        </a>
      </li>
    </ul>
  </div>

  <%- contents %>

  <!-- 頁尾 -->
  <footer class="bg-auxiliary-dark">
    <div class="container">
      <!-- 訂閱資訊 -->
      <div class="row py-6 border-bottom align-items-center">
        <div class="col-12 col-lg-8">
          <div class="d-flex justify-content-between align-items-lg-center flex-column flex-lg-row">
            <h3 class="text-white mb-2 mb-lg-0">訂閱電子報，獲得更多設計消息！</h3>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Username"
              aria-describedby="basic-addon1">
            <a href="#" class="btn btn-primary text-white py-2 px-3">訂閱</a>
          </div>
        </div>
      </div>
      <!-- 頁尾導覽列 -->
      <div class="footer-body d-flex flex-column py-6">
        <div class="footer-item d-flex justify-content-between">
          <!-- LOGO -->
          <a class="navbar-brand me-9 pe-8 logo__font text-white" href="index.html">Interior.DS</a>
          <!-- icon 連結 -->
          <ul class="footer-icon list-unstyled d-flex">
            <li><a href="#" class="text-white h4 me-2 hover--change-color__light px-1 rounded-sm"><i
                  class="fab fa-facebook"></i></a>
            </li>
            <li><a href="#" class="text-white h4 me-2 hover--change-color__light px-1 rounded-sm"><i
                  class="fab fa-instagram"></i></a>
            </li>
            <li><a href="#" class="text-white h4 hover--change-color__light px-1 rounded-sm"><i
                  class="fab fa-line"></i></a></li>
          </ul>
        </div>
        <div class="footer-item d-flex flex-column flex-md-row align-items-md-end">
          <!-- 導覽列 -->
          <ul class="list-unstyled m-0">
            <li class="mb-2"><a href="#" class="text-white nav--items nav--items__hover">公司介紹</a></li>
            <li class="mb-2"><a href="#" class="text-white nav--items nav--items__hover">服務項目</a></li>
            <li class="mb-2"><a href="#" class="text-white nav--items nav--items__hover">設計作品</a></li>
            <li class="mb-2"><a href="#" class="text-white nav--items nav--items__hover">合作公司介紹</a></li>
            <li class="mb-2"><a href="#" class="text-white nav--items nav--items__hover">部落格</a></li>
          </ul>
          <!-- 版權文字 -->
          <p class="text-white offset-md-3 ps-md-3 offset-lg-4 ps-lg-6 mb-2">© 2021. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- bootstrap-JS -->
  <script src="./assets/js/vendors.js"></script>
  <!-- swiper-JS -->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <!-- lightbox-JS -->
  <script src="./assets/js/lightbox.js"></script>
  <script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
  </script>
  <!-- JS -->
  <script src="./assets/js/all.js"></script>
</body>

</html>