<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- swiper-CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <!-- AOS-CSS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- vanillajs-datepicker-CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <!-- 導覽列 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-auxiliary-dark position-fixed nav__padding w-100"
    style="z-index: 2000;">
    <div class="container-lg">
      <!-- LOGO -->
      <a class="navbar-brand me-9 pe-8 d-lg-none logo__font text-white fs-2" href="index.html">Interior.DS</a>
      <!-- 漢堡選單按鈕 -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger-color"></span>
      </button>
      <!-- 導覽列 -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <a class="navbar-brand logo__font text-white fs-2 d-none d-lg-block" href="index.html">Interior.DS</a>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!-- 公司介紹 -->
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav__items nav__items--hover"
              aria-current="page" href="company-profile.html">公司介紹</a>
          </li>
          <!-- 服務項目 -->
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav__items nav__items--hover"
              href="company-services.html">服務項目</a>
          </li>
          <!-- 設計作品 -->
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav__items nav__items--hover"
              href="designer-list.html">設計作品</a>
          </li>
          <!-- 合作商家(下拉選單) -->
          <li class="nav-item dropdown mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary me-6 px-0 d-inline d-lg-block nav__items nav__items--hover"
              href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              合作商家介紹<i class="fas fa-caret-down ms-2 caret caret__change"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- 選單內容 -->
              <li><a class="dropdown-item" href="cooperative-business.html">關於合作商家</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="cooperative-hydropower.html">工程施作</a></li>
              <li><a class="dropdown-item" href="cooperative-design.html">格局及室內裝修</a></li>
              <li><a class="dropdown-item" href="cooperative-furniture.html">傢俱訂製</a></li>
            </ul>
          </li>
          <!-- 部落格 -->
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link nav-hover text-secondary px-0 d-inline d-lg-block nav__items nav__items--hover"
              href="blog.html">部落格</a>
          </li>
        </ul>
        <!-- 連結按鈕 -->
        <!-- 電腦版按鈕 -->
        <div class="d-flex mb-3 mb-lg-0">
          <a href="reserve-information.html" class="btn btn-outline-secondary rounded--lg me-3 reserve-btn py-2 px-3"
            type="submit">立即預約</a>
          <a href="contact.html" class="btn btn-outline-secondary rounded--lg course-btn py-2 px-3"
            type="submit">聯絡我們</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- 內容 -->
  <%- contents %>

  <!-- 頁尾 -->
  <footer class="bg-auxiliary-dark">
    <div class="container-md">
      <!-- 訂閱資訊 -->
      <div class="row py-6 border-bottom align-items-center">
        <div class="col-12 col-lg-8">
          <div class="d-flex justify-content-between align-items-lg-center flex-column flex-lg-row">
            <h3 class="text-white mb-2 mb-lg-0">訂閱電子報，獲得更多設計消息！</h3>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Username"
              aria-describedby="basic-addon1">
            <a href="#" class="btn btn-primary text-white py-2 px-3">訂閱</a>
          </div>
        </div>
      </div>
      <!-- 頁尾導覽列 -->
      <div class="footer-body d-flex flex-column py-6">
        <div class="footer-item d-flex justify-content-between">
          <!-- LOGO -->
          <a class="navbar-brand me-9 pe-8 logo__font text-white" href="index.html">Interior.DS</a>
          <!-- icon 連結 -->
          <ul class="footer-icon list-unstyled d-flex">
            <!-- FB連結按鈕 -->
            <li><a href="#" class="text-white h4 me-2 hover__bg-change-color--primary px-1 rounded--sm"><i
                  class="fab fa-facebook"></i></a>
            </li>
            <!-- IG連結按鈕 -->
            <li><a href="#" class="text-white h4 me-2 hover__bg-change-color--primary px-1 rounded--sm"><i
                  class="fab fa-instagram"></i></a>
            </li>
            <!-- LINE連結按鈕 -->
            <li><a href="#" class="text-white h4 hover__bg-change-color--primary px-1 rounded--sm"><i
                  class="fab fa-line"></i></a></li>
          </ul>
        </div>
        <div class="footer-item d-flex flex-column flex-md-row align-items-md-end">
          <!-- 導覽列 -->
          <ul class="list-unstyled m-0">
            <li class="mb-2"><a href="company-profile.html" class="text-white nav__items nav__items--hover">公司介紹</a>
            </li>
            <li class="mb-2"><a href="company-services.html" class="text-white nav__items nav__items--hover">服務項目</a>
            </li>
            <li class="mb-2"><a href="designer-list.html" class="text-white nav__items nav__items--hover">設計作品</a></li>
            <li class="mb-2"><a href="cooperative-business.html"
                class="text-white nav__items nav__items--hover">合作商家介紹</a></li>
            <li class="mb-2"><a href="blog.html" class="text-white nav__items nav__items--hover">部落格</a></li>
          </ul>
          <!-- 版權文字 -->
          <p class="text-white offset-md-3 ps-md-3 offset-lg-4 ps-lg-6 mb-2">© 2021. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- 右側 icon 列表 -->
  <div class="position-fixed nav__icon" style="z-index: 1100;">
    <ul class="list-unstyled d-flex flex-column justify-content-center align-items-center me-3">
      <!-- FB連結按鈕 -->
      <li class="mb-2 d-none d-md-block">
        <a href="#"
          class="text-primary bg-white fs-4 d-flex justify-content-center align-items-center rounded--sm nav__icon--btn hover__shadow--black"><i
            class="fab fa-facebook"></i></a>
      </li>
      <!-- IG連結按鈕 -->
      <li class="mb-2 d-none d-md-block">
        <a href="#"
          class="text-primary bg-white fs-4 d-flex justify-content-center align-items-center rounded--sm nav__icon--btn hover__shadow--black"><i
            class="fab fa-instagram"></i></a>
      </li>
      <!-- LINE連結按鈕 -->
      <li class="mb-2 d-none d-md-block">
        <a href="#"
          class="text-primary bg-white fs-4 d-flex justify-content-center align-items-center rounded--sm nav__icon--btn hover__shadow--black"><i
            class="fab fa-line"></i></a>
      </li>
      <!-- 回到最上面按鈕 -->
      <li class="mb-2">
        <a href="#"
          class="text-white bg-primary fs-4 d-flex justify-content-center align-items-center rounded--sm nav__icon--btn hover__shadow--black scroll__top-btn"><i
            class="fas fa-arrow-up"></i>

        </a>
      </li>
    </ul>
  </div>

  <!-- bootstrap-JS -->
  <script src="./assets/js/vendors.js"></script>
  <!-- swiper-JS -->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <!-- vanillajs-datepicker-JS -->
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
  <!-- AOS-JS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <!-- Parallax.js -->
  <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
  <!-- JS -->
  <script src="./assets/js/all.js"></script>

</body>

</html>