/*-------------------datepicker CSS樣式設定-------------------*/


//選擇日期-文字顏色
.datepicker-cell.selected,
.datepicker-cell.selected:hover {
    background-color: $primary;
}

//預設值日期-文字顏色
.datepicker-cell.focused:not(.selected) {
    background-color: $primary;
    color: #FFF;
}

//上個月/下個月-箭頭顏色
.next-btn,
.prev-btn {
    color: $auxiliary !important;
}

//月份/星期-文字顏色
.view-switch,
.dow {
    color: $primary !important;
}

//當月日期-文字顏色
.day {
    color: $gray;
}

//上個月日期/下個月日期-文字顏色
.prev,
.next {
    color: #889EAF !important;
}


/*-------------------datepicker 自訂樣式-------------------*/


.datepicker {

    //日期文字間距
    &__word-spacing {
        letter-spacing: 1px;
    }

    //input邊線設定
    &__border {
        outline: none;
        border: 1px solid #ced4da;
    }
}