//導覽列hover效果-連結底線-顯示
.nav--items__hover {
    transition: all .3s;

    &:hover {
        border-bottom: 1px solid $secondary;
    }
}

//卡片hover效果-陰影
.hover--shadow {
    &__gray {
        transition: all .3s;

        &:hover {
            box-shadow: 0px 0px 6px #BBB;
        }
    }

    &__black {
        transition: all .3s;

        &:hover {
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        }
    }
}

//文字hover效果-間距拉開
.hover--word__separate {
    transition: all .3s;

    &:hover {
        letter-spacing: 3px;
    }
}

//卡片hover效果-上升
.hover--rise {
    transition: all .3s;

    &:hover {
        transform: translateY(-8px);
    }
}

//文字hover效果-顏色改變
.hover--change-color {

    &__light {
        transition: all .3s;

        &:hover {
            background-color: $primary;
        }
    }

    &__primary {
        transition: all .3s;

        &:hover {
            color: $primary;
        }
    }
}

//圖片hover效果-放大
.hover--img__enlarge {
    transition: all .3s;
    background-size: 180%;

    &:hover {
        background-size: 210%;
    }
}