.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    //圖片置中
    background-size: cover;
    background-position: center center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//首頁-居家風格-swiper-電腦版
.swiper-slide--room-style__lg {
    width: 80%;
}

//首頁-居家風格-swiper-電腦版
.swiper-slide--room-style__sm {
    width: 100%;
}

//公司介紹-企業合作-swiper-電腦版
.swiper-slide--business-cooperation {
    width: 33%;
}

//設計師作品-設計師推薦-swiper-電腦版
.swiper-slide--recommend-designer,
.swiper-slide--article {
    width: 100%;
}

//設計師作品-公司作品-swiper
.swiper-slide--company-portfolio img {
    width: auto;
}

.swiper--company-portfolio {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide--company-portfolio {
    background-size: cover;
    background-position: cover;
}

//設計師作品-公司作品-swiper-大圖
.swiper--company-portfolio__top {
    height: 500px;
    width: 100%;
}

//設計師作品-公司作品-swiper-小圖
.swiper--company-portfolio__bottom {
    height: 180px;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper--company-portfolio__bottom .swiper-slide--company-portfolio {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.swiper--company-portfolio__bottom .swiper-slide-thumb-active {
    opacity: 1;
}

//公司介紹-相關文章-swiper-查看更多文章
.swiper-slide--article-blog:nth-child(4n) {
    justify-content: start;
    -webkit-justify-content: start;
    -webkit-box-align: start;
}