// swiper設定
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    //圖片置中
    background-size: cover;
    background-position: center center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//swiper圖片-寬度80%
.swiper-slide--w__80 {
    width: 80%;
}

//swiper圖片-寬度100%
.swiper-slide--w__100 {
    width: 100%;
}

//swiper幻燈片設定
.swiper--thumbs-gallery-loop {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide--thumbs-gallery-loop {
    background-size: cover;
    background-position: cover;
}

//swiper幻燈片-大圖設定
.swiper--thumbs-gallery-loop__top {
    height: 500px;
    width: 100%;
}

//swiper幻燈片-小圖設定
.swiper--thumbs-gallery-loop__bottom {
    height: 180px;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper--thumbs-gallery-loop__bottom .swiper-slide--thumbs-gallery-loop {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.swiper--thumbs-gallery-loop__bottom .swiper-slide-thumb-active {
    opacity: 1;
}

//公司介紹-相關文章-swiper-查看更多文章
.swiper-slide--article-blog:nth-child(4n) {
    justify-content: start;
    -webkit-justify-content: start;
    -webkit-box-align: start;
}