/*-------------------swiper樣式設定-------------------*/


/*-------------------開發預設樣式-------------------*/


.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    //圖片置中
    background-size: cover;
    background-position: center center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper__thumbs-gallery-loop--bottom .swiper-slide__thumbs-gallery-loop {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.swiper__thumbs-gallery-loop--bottom .swiper-slide-thumb-active {
    opacity: 1;
}


/*-------------------自訂一般樣式-------------------*/


.swiper-slide {

    //圖片寬度

    &__w {

        //寬度80%
        &--80 {
            width: 80%;
        }

        //寬度100%
        &--100 {
            width: 100%;
        }
    }

    //幻燈片(圖片置中)
    &__thumbs-gallery-loop {
        background-size: cover;
        background-position: cover;
    }

    //公司介紹-相關文章-swiper-查看更多文章
    &__article {

        &:nth-child(4n) {
            justify-content: start;
            -webkit-justify-content: start;
            -webkit-box-align: start;
        }
    }
}


/*-------------------自訂樣式(幻燈片)-------------------*/


.swiper {

    &__thumbs-gallery-loop {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;

        //大圖設定
        &--top {
            height: 500px;
            width: 100%;
        }

        //小圖設定
        &--bottom {
            height: 180px;
            box-sizing: border-box;
            padding: 10px 0;
        }
    }

}

.thumbs-gallery {

    &__padding {

        &--top {
            padding-top: 100px;
        }
    }
}